/* logo, nav-menu, button, icon, contact (reaction) #2196F3  #AFB1B8 */
/* logo #000000 */     
/* contact #757575 */ 
/* nav-menu, filter-button #212121 #ffffff */   
/* title, link #ffffff #212121 */   
/* text #757575 */ 
/* background #ffffff */ 
/* section-bg #F5F4FA */

                                               /* common */
/* html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
} */

:root {
--title-color: #212121;
--primary-white-color: #ffffff;
--accent-color: #2196F3;
--font-logo: 'Raleway', sans-serif;
--font-text: 'Roboto', sans
}
                            
body {
    color: #757575;
    background-color: #ffffff;
    font-family: var(--font-text);
    font-style: normal;
}
                    /* hiden mark; reset ul */
.list {
    padding: 0;
    margin: 0;
    list-style: none;    
}
                   /* reset (h, p) */
.reset {
    margin-top: 0;
}
                     /* temporary hide */
.invisible {
    display: none;
}

                                             /* header */
                            
                                /* logo */

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

    /* outline: 2px solid tomato;  */
}

.logo {
    color: #000000;
    font-family: var(--font-logo);
    font-weight: bold;
    font-size: 26px;
    line-height: 1.20;
    text-decoration: none;
}
                            
.logo-design {
    color: var(--accent-color);
}
                            /* navigation */

.nav-flex {
    display: flex;
    align-items: center;
}

.menu-nav {
    display: flex;
    margin-left: 85px;
}

.menu-nav .item:not(:last-child) {
    margin-right: 50px;
}

.menu-nav .link-nav {
    display: block;

    padding-top: 32px;
    padding-bottom: 32px;

    color: #212121;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
                            
.link-nav:hover,
.link-nav:focus {
    color: var(--accent-color);
    outline: transparent;
}

.menu-link {
    position: relative;
}

.underline-link::after {
    content: '';
    display: block;
    position: absolute;

    width: 100%;
    height: 4px;

    background-color: var(--accent-color);
    border-radius: 2px;

    left: 0;
    bottom: 0;

    transform: scaleX(0);
}

.underline-link:hover::after {
    transform: scaleX(1);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.underline-link:focus::after {
    transform: scaleX(1);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    outline: transparent;
}

.underline-link:active::after {
    transform: scaleX(1);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


 
                                 /* address */

.contact-nav {
    display: flex;
    margin-left: auto;
}

.contact-nav .item:not(:last-child) {
    margin-right: 30px;
}

.contact-nav .link-contact {
    display: block;

    padding-top: 32px;
    padding-bottom: 32px;
        
    color: #757575;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
     
.link-contact:hover,
.link-contact:focus {
    color: var(--accent-color);
    outline: transparent;
}                            

.link-contact .icon-contact-mail {
    fill: #757575;
}

.icon-contact-mail {
    height: 12px;
    width: 16px;
    margin-right: 10px;
}

.link-contact:hover,
.link-contact:focus .icon-contact-mail {
    --color3: var(--accent-color);
    outline: transparent;
}

.link-contact .icon-contact-phon {
    fill: #757575;
}

.icon-contact-phon {
    height: 15px;
    width: 10px;
    margin-right: 10px;
}

.link-contact:hover,
.link-contact:focus .icon-contact-phon {
    --color3: var(--accent-color);
    outline: transparent;
}

                                            /* footer */

 footer {
    
    background-color: #2F303A;
}
                      /* main footer container */
.footer-flex {
    display: flex;
}
                       /* address container */
.address-flex {
    margin-top: 45px;
}

.logo-footer {
    display: inline-block;
    margin-bottom: 8px;
}

.address-text {
    margin-bottom: 9px;
    min-width: 220px;

    color: var(--primary-white-color);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.mail-footer {
    display: inline-block;
    margin-bottom: 9px;
}

.phon-footer {
    display: inline-block;
    margin-bottom: 28px;
}

.contact-footer .link-footer {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.contact {
    display: inline-block;
    margin-bottom: 20px;

    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
                       /* social container */
.social-flex {
    justify-content: left;

    margin-top: 57px;
    margin-left: 68px;
}

.social {
    display: flex;
}

.icon-send {
    height: 24px;
    width: 24px;

    margin-left: 10px;
    margin-right: 10px;
}

.icon-footer:not(:first-child) {
    margin-left: 10px;
}

.social-link-second {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    padding: 0;
    margin: 0;

    height: 44px;
    width: 44px;

    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.1);
}

.social-link-second:hover,
.social-link-second:focus {
    background-color: var(--accent-color);
    outline: transparent;
}

.social-link-second:hover,
.social-link-second:focus .icon-social {
    --color3: #ffffff;
    outline: transparent;
}

                    /* subscriber container */
.subscribe {
    margin-top: 57px;
    margin-left: 90px;
}

.footer-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-input {
    width: 355px;

    padding: 15px 16px;

    /* height: 50px;
    left: 815px;
    top: 2779px; */
    
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.25;
    
    align-items: center;
    letter-spacing: 0.03em;

    background: #2F303A;
    
    color: rgba(255, 255, 255, 0.6);
}

.button-footer {
    display: inline-flex;
    justify-content: center;
}

.button-footer {
    align-items: left;

    height: 50px;
    width: 220px;
   
    margin-left: 12px;
    padding-top: 10px;
    padding-left: 30px;
    padding-bottom: 10px;
    /* padding-right: 30px; */
    
    border-radius: 4px;    

    color: var(--primary-white-color);
    background-color: var(--accent-color);

    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.8;
    text-align: center;
    text-decoration: none;
    letter-spacing: normal;
}

                    /* copy container */
.copy-flex {
    padding-top: 18px;
    padding-bottom: 21px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.copy {
    margin-bottom: 0;

    color: rgba(255, 255, 255, 0.4);
    font-weight: normal;
    font-size: 12px;
    line-height: 2;
    text-align: center;
    letter-spacing: 0.03em;
}

